// base values
$base-padding: 1em;
$base-margin: 1em;
$base-gap: 1em;
$flow-space: 1em; //change for local variable

$utilities: (
  'padding': (
    'prefix': 'p',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 2,
      '7': $base-padding * 3.25,
      '8': $base-padding * 4,
      '9': $base-padding * 5.25,
    ),
  ),
  'padding-left': (
    'prefix': 'pl',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 2,
      '7': $base-padding * 3.25,
      '8': $base-padding * 4,
      '9': $base-padding * 5.25,
    ),
  ),
  'padding-right': (
    'prefix': 'pr',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 2,
      '7': $base-padding * 3.25,
      '8': $base-padding * 4,
      '9': $base-padding * 5.25,
    ),
  ),
  'padding-top': (
    'prefix': 'pt',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 2,
      '7': $base-padding * 3.25,
      '8': $base-padding * 4,
      '9': $base-padding * 5.25,
    ),
  ),
  'padding-bottom': (
    'prefix': 'pb',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 2,
      '7': $base-padding * 3.25,
      '8': $base-padding * 4,
      '9': $base-padding * 5.25,
    ),
  ),
  'margin': (
    'prefix': 'm',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 2,
      '7': $base-margin * 3.25,
      '8': $base-margin * 4,
      '9': $base-margin * 5.25,
    ),
  ),
  'margin-left': (
    'prefix': 'ml',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 2,
      '7': $base-margin * 3.25,
      '8': $base-margin * 4,
      '9': $base-margin * 5.25,
    ),
  ),
  'margin-right': (
    'prefix': 'mr',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 2,
      '7': $base-margin * 3.25,
      '8': $base-margin * 4,
      '9': $base-margin * 5.25,
    ),
  ),
  'margin-top': (
    'prefix': 'mt',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 2,
      '7': $base-margin * 3.25,
      '8': $base-margin * 4,
      '9': $base-margin * 5.25,
    ),
  ),
  'margin-bottom': (
    'prefix': 'mb',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 2,
      '7': $base-margin * 3.25,
      '8': $base-margin * 4,
      '9': $base-margin * 5.25,
    ),
  ),
  'gap': (
    'prefix': 'gap',
    'values': (
      '0': 0,
      '1': $base-gap * 0.25,
      '2': $base-gap * 0.5,
      '3': $base-gap * 0.75,
      '4': $base-gap * 1,
      '5': $base-gap * 1.25,
      '6': $base-gap * 2,
      '7': $base-gap * 3.25,
      '8': $base-gap * 4,
      '9': $base-gap * 5.25,
    ),
  ),

  'opacity': (
    'prefix': 'o',
    'values': (
      '0': 0,
      '10': 0.1,
      '20': 0.2,
      '30': 0.3,
      '40': 0.4,
      '50': 0.5,
      '60': 0.6,
      '70': 0.7,
      '80': 0.8,
      '90': 0.9,
      '100': 1,
    ),
  ),
  'display': (
    'prefix': 'display',
    'values': (
      'n': none,
      'b': block,
      'f': flex,
      'i': inline,
      'i-b': inline-block,
    ),
  ),
);
