@use 'abstracts/' as *;
@use 'utilities/' as *;

@mixin btn($bg-color: #e2e2e2) {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: $btn-padding;
  background-color: $bg-color;
}

// .btn {
//   @include btn;
// }

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: rgba($clr-white, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgba($clr-white, 0.5);
}

.dot-indicators > [aria-selected='true'] {
  background-color: rgba($clr-white, 1);
}
